@tailwind base;
@tailwind components;
@tailwind utilities;


.my-blue{
  background-color: #3673C2;
}
.max-w-screen-3xl {
  max-width: 1920px;
}

.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.collection-background {
  background-size: contain;
}

.test {
bottom: 40vw;
}

.footer-logo {
  background-image: url("../public/assets/logoPlanko.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position:0 bottom;

}