@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./hero-section";

.my-blue{
  background-color: #3673C2;
}
.max-w-screen-3xl {
  max-width: 1920px;
}

.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.collection-background {
  //background-repeat: no-repeat;
  //height: 100%;
  //width: 100%;
  background-size: contain;
}

.test {
bottom: 40vw;
}